  <h1 class="title">Report places</h1>
  <table class="table table-striped mt-4">
    <thead>
      <tr>
        <th style="width: 200px;" scope="col">Institution	</th>
        <th style="width: 200px;" scope="col">Area</th>
        <th style="width: 200px;" scope="col">Place</th>
        <th style="width: 200px;" scope="col">Symptoms</th>
        <th style="width: 200px;" scope="col">Covid Positive</th>
        <th style="width: 200px;" scope="col">Covid Negative</th>
      </tr>
    </thead>
    <tbody>
      <% @reports.each do |report|%>
          <tr>
            <td><%= report.area&.institution&.name%> </td>
            <td><%= report.area&.name%> </td> 
            <td><%= report.name%> </td> 
            <td><%= report.incidences.select{ |incidence| incidence.has_symptoms? }.count %> </td>
            <td><%= report.incidences.select{ |incidence| incidence.result == true }.count %> </td> 
            <td><%= report.incidences.select{ |incidence| incidence.result == false }.count %> </td> 
          </tr>
      <%end%>
    </tbody>
  </table>
