<%= form_with(model: role) do |form| %>
  <% if role.errors.any? %>
    <div id="error_explanation" class="errors">
      <h2><%= pluralize(role.errors.count, "error") %> prohibited this role from being saved:</h2>

      <ul>
        <% role.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <%= form.label :name, class: "col-2 col-form-label" %>
    <div class="col-10">
      <%= form.text_field :name, class: role.errors.include?(:name) ? "form-control is-invalid" : "form-control" %>
    </div>
  </div>

  <br>

  
  <div class="field">
    <%= form.label :permissions %>
    <div class='table-responsive mt-4'>
      <table class='table table-hover'>
        <thead>
            <tr>
              <th>Class</th>
              <th>Action</th>
              <th><%= check_box_tag('main', 0, false) %></th>
            </tr>
        </thead>

        <tbody>
            <% @permissions.each do |permission| %>
              <tr>
                  <td><%= permission.subject_class %></td>
                  <td><%= permission.action %></td>
                  <td><%= check_box_tag 'permissions[]', permission.id, false, { array: true, class: "check_box" } %></td>
              </tr>
            <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="d-flex">
    <%= form.submit class: "btn btn-info w-100" %>
  </div>
<% end %>