<div class='container'>

  <h1 class="title mt-2">Super Admin: Listing Roles</h1>

  <div class='table-responsive mt-4'>
    <table class='table table-hover'>
      <thead>
        <tr>
          <th>Name</th>
          <th colspan="3">Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @roles.each do |role| %>
          <tr>
            <td><%= role.name %></td>
            <td>
              <a href="<%= edit_role_path(role) %>" class="btn btn-info">Edit</a>
            </td>
            <td>
              <a href="<%= role_path(role) %>" class="btn btn-warning">Show</a>
            </td>
            <td>
              <%= link_to 'Destroy', role, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <%= link_to 'New Role', new_role_path, class: "new-button" %>
</div>
