<p id="notice"><%= notice %></p>
<div class="container">
  <h1 class="title">Areas Details</h1>
  <div class="card p-5">
    <p>
      <strong>Institution:</strong>
      <%= @area.institution.name %>
    </p>

    <p>
      <strong>Name:</strong>
      <%= @area.name %>
    </p>
  </div>
</div>

<div class="container">
  <%= link_to areas_path, { class: "btn return-button mt-5 mb-5"} do %>
    <i class="fas fa-arrow-circle-left"></i>
    Back
  <% end %>
  <%= link_to 'Edit', edit_area_path(@area), class: "btn btn-warning" %>
</div>