<!--p id='notice'><%#= notice %></p-->

<div class='container'>

  <h1 class="mt-2">Users</h1>

  <div class='table-responsive mt-4'>
    <table class='table table-hover'>
      <thead class='thead-light'>
        <tr>
          <th>Email</th>
          <th>Confirmed</th>
          <th>Role</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.email %></td>
            <td><%= user.confirmed_at.present? ? 'Confirmed' : 'Unconfirmed' %></td>
            <td><%= user&.role&.name %></td>
            <td>No Actions</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <br>

  <%= form_with(model: @user) do |form| %>
    <div class='row'>
      <div class='col-md-3 mt-2'>
        <label for=''>Email</label>
        <%= form.text_field :email, class: 'form-control', rows:'1', max: '25', required: 'true' %>
      </div>

      <div class='col-md-3 mt-2'>
        <label for=''>Role</label>
        <%= form.select :role_id, @roles.map{ |role| [role.name, role.id] }, { include_blank: 'Select Role' }, { required: 'true', autofocus: 'true', class: 'form-control' } %>
      </div>
      
      <div class='col-md-3 mt-3'>
        <%= form.submit 'Create User', class: 'btn btn-md btn-primary mt-4'%>
      </div>        
    </div>    
  <% end %>

</div>