<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Full Name:</strong>
  <%= "#{@user.full_name} #{@user.lastname}" %>
</p>

<p>
  <strong>Role:</strong>
  <%= @user&.role&.name %>
</p>

<p>
  <strong>Department:</strong>
  <%= @user&.departament&.name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @user.gender == "1" ?  "Men" : "Women" %>
</p>

<p>
  <strong>Born Date:</strong>
  <%= @user.born_date.strftime("%d/%m/%Y") if(@user.born_date) %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>