<%= form_with(model: incidence) do |form| %>
  <% if incidence.errors.any? %>
    <div id="error_explanation" class="errors">
      <h2 class="error-title"><%= pluralize(incidence.errors.count, "error") %> prohibited this incidence from being saved:</h2>

      <ul>
        <% incidence.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container-incidence">
    <div class="list-symptoms">
      <h3 class="title">Do you have Symptom</h3>
      <% @symptoms.each do |s| %>
        <label class="symptom" for= <%= s.id%> >
          <%= check_box_tag 'symp[]', s.id, @user_symptoms.include?(s.id), id: s.id, class: "input-checkbox"%>
          <label for= <%= s.id%>><%=s.name%></label>
        </label>        
      <% end %>
    </div>
    <div class="covid-test">
      <h3 class="title">About covid test</h3>
      <div class="wrapper">
        <div class="form-group row mt-4">
          <%= form.label :covid_test, class: "col-sm-4 col-form-label"%>
          <div class="col-sm-8">
            <%= select(:incidence, :covid_test_id, @tests, {} ,{class: 'form-control'}) %>
          </div>
        </div>

        <div class="form-group row mt-4">
          <%= form.label :begin_covid_test, class: "col-4 col-form-label" %>
          <div class="col-8">
            <%= form.date_field :begin, class: incidence.errors.include?(:begin) ? "form-control is-invalid" : "form-control", id:"covid-test"%>
          </div>
        </div>
      </div>
      <div>
        <%= image_tag("Sanitizing.png", class: "image-incidence") %>
      </div>
    </div>
  </div>
  <div class="create-incidence">
      <%= form.submit do%>
        <i class="fas fa-arrow-circle-left"></i>
      <% end %>
  </div>
<% end %>
