<p id="notice"><%= notice %></p>

<h1>Covid Tests</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @covid_tests.each do |covid_test| %>
      <tr>
        <td><%= covid_test.name %></td>
        <td><%= link_to 'Show', covid_test %></td>
        <td><%= link_to 'Edit', edit_covid_test_path(covid_test) %></td>
        <td><%= link_to 'Destroy', covid_test, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Covid Test', new_covid_test_path %>
