<p id="notice"><%= notice %></p>

<div class="container table-responsive">
  <h1 class="title">Departaments</h1>

  <table class="table">
    <thead>
      <tr>
        <th>Institution</th>
        <th>Name</th>
        <th colspan="3">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @departaments.each do |departament| %>
        <tr>
          <td><%= departament.institution.name %></td>
          <td><%= departament.name %></td>
          <td><%= link_to 'Show', departament, class: "btn btn-success" %></td>
          <td><%= link_to 'Edit', edit_departament_path(departament), class: "btn btn-warning" %></td>
          <td><%= button_to 'Destroy', departament, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="mt-2 mb-3 col-xs-12">
    <%= will_paginate(@departaments, :renderer => WillPaginate::ActionView::LinkRenderer, class: 'pagination-sm justify-content-center') %>
  </div>

  <div class="mt-2 col-xs-12">
    <%= link_to 'New Departament', new_departament_path, class: "new-button" %>
  </div>  
</div>
