<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="<%= root_path%>">ALERTA COVID</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <% if (can? :index, User) %>
                <li class="nav-item" id="users_li">
                    <a class="nav-link" href="<%= users_path %>">USERS</a>
                </li>
            <% end %>
            <% if (can? :index, Role) || (can? :show, Role) %>
            <%# can permission.action.to_sym, permission.subject_class.constantize %>
                <li class="nav-item" id="roles_li">
                    <a class="nav-link" href="<%= roles_path %>">ROLES</a>
                </li>
            <% end %>
        </ul>

        <ul class="navbar-nav mr-md-1">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <%= current_user&.email %>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="<%= edit_registration_path(current_user) %>">Edit Profile</a>
                    <%= button_to "Log Out", destroy_session_path(current_user), method: :delete, class: "dropdown-item"%>
                </div>
            </li>
        </ul>
    </div>
</nav>

<div style="display: none">
    <input type="hidden" readonly="true" value="<%= controller.controller_name %>" id="controller_name">
</div>
