<!DOCTYPE html>
<html>
  <head>
    <title>AlertaCovid</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="main-wrapper">
    <main class="content">
      <% if user_signed_in? %>
        <%= render "layouts/navbar" %>
      <% end %>
      <%= yield %>
    </main>
  </body>
  <%= flash_msg.html_safe if flash.any? %>
  <% flash.discard(flash_msg) %>
</html>
