<p id="notice"><%= notice %></p>

<div class="container-fluid">
  <h1 class="title">Places</h1>

  <div class="container-index-places">
    <% @places.each do |place| %>
      <div class="card shadow card-place">
        <%= link_to image_tag("qr_codes/qrcode_#{place.id}.png", class: "qr-code"), place %>
        <div class="flex">
          <strong>Place:</strong> 
          <%= place.name %>
        </div>
        <div class="flex">
          <strong>Area:</strong> 
          <%= place.area.name %>
        </div>
        <div class="flex">
          <strong>Institution:</strong> 
          <%= place.area.institution.name %>
        </div>
        <% if place.are_there_active_cases?%>
          <p class="active-cases-tag"><%= place.active_cases_teen_days_ago %> active cases</p>
        <%end%>
        <div class="flex mt-3 ">
          <% if user_signed_in? && place.area.institution_id == @current_institution.id || current_user.super_admin?%>
            <%= link_to 'Edit', edit_place_path(place), class: "btn btn-warning" %>
            <%= link_to 'Destroy', place, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
          <%end%>
        </div>
      </div>
    <% end %>
  </div>

  <% if user_signed_in?%>
    <%= link_to 'New Place', new_place_path, class: "new-button" %>
  <% end%>
</div>