<p id="notice"><%= notice %></p>

<div class="container-fluid mb-3">
  <h1 class="title">
    <%= @place.name %>
  </h1>

  <div class="container-show-place">
    <p>
      <%= image_tag("qr_codes/qrcode_#{@place.id}.png", class: "qr-code") %>
    </p>

    <p>
      <strong>Qr code:</strong>
      <%= @place.qr_code %>
    </p>

    <p>
      <strong>Area:</strong>
      <%= @place.area.name %>
    </p>

    <p>
      <strong>Institution:</strong>
      <%= @place.area.institution.name %>
    </p>
  </div>
</div>
<div class="container-fluid">
  <%= link_to places_path, { class: "btn return-button" } do %>
     <i class="fas fa-arrow-circle-left"></i>
     Back
  <% end %>
  <% if user_signed_in? %>
    <%= link_to 'Edit', edit_place_path(@place), class: "btn btn-warning" %>
  <% end %>
  
</div>