<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @place.name %>
</p>

<p>
  <strong>Qr code:</strong>
  <%= @place.qr_code %>
</p>

<p>
  <%= image_tag("qr_codes/qrcode_#{@place.id}.png") %>
</p>

<p>
  <strong>Area:</strong>
  <%= @place.area.name %>
</p>
<% if user_signed_in? %>
<%= link_to 'Edit', edit_place_path(@place) %> 
<% end %>
<%= link_to 'Back', places_path %>
