<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @place.name %>
</p>

<p>
  <strong>Qr code:</strong>
  <%= @place.qr_code %>
</p>

<p>
  <%= image_tag("qrcode_#{@place.id}.png") %>
</p>

<p>
  <strong>Area:</strong>
  <%= @place.area_id %>
</p>

<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
