<div class="container cont-log">
     <%= image_tag("vector.png", class: "style_vector")%>
</div>
<div class="container cont-log">
  <div class="row">
    <div class="col-6 offset-1">
      <%= image_tag("Sanitizing.png", class: "style_sanitizing") %>
    </div>
    <div class="col-3 justify-content-center">
      <h2 class="text-center my-5 text-success">Login</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field border-bottom">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"border-0 btn-block" %>
        </div>

        <div class="field border-bottom">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password", class:"border-0 btn-block" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="actions text-center">
          <%= f.submit "Login", class:"btn-success" %>
        </div>
      <% end %>
      <div class="container my-5">
        <div class="row">
          <div class="col text-center">
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
